<mat-toolbar color="primary">
  <span class="material-icons">pets</span>
  <span class="logo-text">Pet Store</span>
  <span class="spacer"></span>

  <!-- Main Navigation -->
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/pets">Pets</a>
  <a mat-button routerLink="/cart">Cart</a>

  <!-- Prikazi Login/Register ako user nije prijavljen -->
  <span *ngIf="!authService.getCurrentUser()">
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
  </span>

  <!-- Prikazi Profile/Admin Panel/Logout ako je korisnik prijavljen -->
  <span *ngIf="authService.getCurrentUser()">
    <a mat-button routerLink="/profile">Profile</a>
    <a mat-button routerLink="/admin" *ngIf="authService.isAdmin()">Admin Panel</a>
    <button mat-button (click)="authService.logout()">Logout</button>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>


<app-chatbot></app-chatbot>